* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --light: #ffcdb2;
  --orange: #ffb4a2;
  --pink: #e5989b;
  --semi-dark: #b5838d;
  --dark: #6d6875;
}

.nav-item {
  color: var(--dark);
}

footer {
  background-color: var(--pink);
  text-align: center !important;
}

.body {
  background-color: var(--light);
}

h1 {
  color: var(--dark) !important;
  font-size: 24px;
  text-align: center;

}

button {
  background-color: var(--pink);
  color: var(--dark);
  padding: 5px;
  border: var(--semi-dark);
  margin-top: 20px !important;
}

.nav {
  background-color: var(--orange);
  color: var(--dark);
}

main {
  padding-bottom: 1.5rem;
}

.img-container {
  padding: 2vh;
}

.myimg {
  border-radius: 50%;
}

.nav-link {
  color: var(--dark) !important;
  margin-top: 6px;
}

.nav-link.active {
  color: var(--dark);
  background-color: var(--orange);
  border: none;
}

.nav-tabs {
  border: none !important;
  border-width: 0;
  background-color: var(--orange);
  color: var(--semi-dark);
}

li.nav-item {
  background-color: var(--orange);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--orange) !important;
}

li.nav-item.name {
  color: var(--semi-dark);
  font-size: 25px;
}

a {
  transition: color 0.5s ease !important;
  text-decoration: none !important;
  color: var(--dark) !important;

}

a:hover {
  color: var(--semi-dark) !important;
}

.work-item {
  width: 300px;
  margin: 1rem;
  height: 300px;
  /* flex: 0 0 20%; */
  margin-bottom: 70px;
}

.work-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.work-item img:hover {
  transform: scale(1.1);
}

/* Project name styles */
.work-item p.project-name {
  text-align: center;
  background-color: var(--pink);
  color: var(--light);
  padding: 5px;
  margin: 0;
}

input {
  width: 40vh;
  margin-top: 20px !important;
  background-color: #f6e5f8;
}

.img-fluid{ 
  max-width: 30vh !important;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;

}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.fa {
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

p {
  margin: 2rem;
}

.form {
  margin: 20px;
}

input {
  padding: 20px;
}