* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --light: #ffcdb2;
  --orange: #ffb4a2;
  --pink: #e5989b;
  --semi-dark: #b5838d;
  --dark: #6d6875;
}

.nav-item {
  color: var(--dark);
}

footer {
  background-color: var(--pink);
}

.body {
  background-color: var(--light);
}

h1 {
  color: black;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: var(--dark);
  font-size: 20px;
}

button {
  background-color: var(--pink);
}

.nav {
  background-color: var(--orange);
  color: var(--dark);
}

main {
  padding-bottom: 1.5rem;

  /* Your footer is 24px tall, so this will fix the fixed footer from overlapping the content */
  /* if bootstrap wasnt trash, I'd apply a class of pb-6 to the <main> element, but alas we have to use this */
  /* If it looks like there is too much space between your <p> tag and the botton, its because 
  Bootstrap and most FE libs add margin-bottom: 1rem to all <p> tags by default, something to keep in mind */
}

.img-container {
  /* Also use paddings/margins with "rem". 1 rem === the roots font size. 
  So if root font size is 16px, 1rem === 16px. 4px === .25rem. 
  I RARELY use view port units in a professional setting and if so its
   for height/width and its usually 100vh/100vw */
  padding: 2vh;
}

.myimg {
  /* margin: 2vh;  This is whats causing your image to be offset in lower resolutions*/
  /* Wrapped your image in a div and added padding to that. Only use margin to move elements away from one another.
  The only time I'd add horizontal margin with a single element in a block/flex-column parent (Elements stack top to bottom),
  is margin-left: auto (Push an element to the right), margin-right:auto(push to the left) or both to center an element */
  border-radius: 50%;
}

.nav-link {
  color: var(--dark) !important;
}

.nav-link.active {
  color: var(--dark);
  background-color: var(--orange);
  border: none;
}

.nav-tabs {
  border: none;
  background-color: var(--orange);
  color: var(--semi-dark);
}

li.nav-item {
  background-color: var(--orange);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--orange) !important;
}

li.nav-item.name {
  color: var(--semi-dark);
  font-size: 25px;
}

a {
  transition: color 0.5s ease;
}

a:hover {
  color: var(--semi-dark) !important;
}

/* Look into BEM(Block element modifiers) for CSS. You'll never have to use !important again */

/* Also scss is pretty dope, it allows you to type css like
a{
  transition: color 0.5s ease;
  &:hover{
   color: var(--semi-dark) !important;
  }
}

or

.nav-link{
  &.active{
    background: whatever
  }
}

*/
