* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

:root {
  --light: #FFCDB2;
  --orange: #FFB4A2;
  --pink: #E5989B;
  --semi-dark: #B5838D;
  --dark: #6D6875;
}

.nav-item {
  color: var(--dark);

}

footer {
  background-color: var(--pink);
  text-align: center !important;
}

  
.body {
  background-color: var(--light);
}


h1 {
  color: black;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: var(--dark);
  font-size: 20px;
}  

button {
  background-color: var(--pink);
  width: 100px;
}

.nav {
  background-color: var(--orange);
  color: var(--dark);
}

.myimg {
  margin: 2vh;
  border-radius: 50%;
}

.nav-link {
  color: var(--dark) !important;
}

.nav-link.active {
  color: var(--dark);
  background-color: var(--orange);
  border: none;
}

.nav-tabs {
  border: none;
  background-color: var(--orange);
  color: var(--semi-dark);
}

li.nav-item {
  background-color: var(--orange);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: var(--orange) !important;
}

li.nav-item.name {
  color: var(--semi-dark);
  font-size: 25px;
}

a {
  transition: color 0.5s ease !important;
  text-decoration: none !important;
  color: var(--dark) !important;

}

a:hover {
  color: var(--semi-dark) !important;
}

.work-item {
  width: 300px;
  margin: 1rem;
  flex: 0 0 20%;
}

.work-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.work-item img:hover {
  transform: scale(1.1);
}

/* Project name styles */
.work-item p.project-name {
  text-align: center;
  background-color: var(--pink);
  color: var(--light);
  padding: 5px;
  margin: 0;
}

input {
  width: 40vh;
}

.img-fluid{ 
  max-width: 30vh !important;
}